mixin gradientButton(text, background="#FFFFFF", textColor="#BC9CFF")
    button.gradientButton(type="button")
        p.gradientButton__textContain.headline_N3(style=`background-color:${background}; color:${textColor};`)=text