.logotype {
	width: 105px;
	height: 40px;

	display: inline-block;
	background: url("../img/logotype_TOXIN.png") center right no-repeat;
}

.logotype__img {
	width: 40px;
	height: 40px;

	display: inline-block;
	background: url("../img/logotype_img.png") center center no-repeat;

}