.nav-menu {
	margin: 0;
	padding: 0;

	width: auto;
	max-width: 730px;
	height: auto;

	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	
	list-style: none;

	text-decoration: none;

	// font-family: Montserrat;
	// font-style: normal;
	// text-align: center;
	// font-size: 27px;
	// line-height: 30px;
	// font-weight: 700;
	// text-transform: uppercase;
	// color: #1F2041;
}

.nav-menu__element {

	margin:0 10px;
	padding: 0;

	// text-decoration: none;
	// font-style: normal;
	// text-align: center;
	// font-size: 27px;
	// line-height: 30px;
	// font-weight: 700;
	// text-transform: uppercase;
	// color: #1F2041;
}

.nav-menu__element-link {
	margin: 0;
	padding: 0;

	text-decoration: none;
	
	font-family: Montserrat, sans-serif;
	font-style: normal;
	// text-align: center;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	// text-transform: uppercase;
	color: #1F2041;
	opacity: 0.5;
}

.nav-menu__element-link--active {
	margin: 0;
	padding: 0;

	text-decoration: none;

	font-family: Montserrat, sans-serif;
	font-style: normal;
	// text-align: center;
	font-size: 14px;
	line-height: 17px;
	font-weight: 700;
	// text-transform: uppercase;
	color: #1F2041;
	opacity: 0.75;
}