
body {
	padding: 0;
	margin: 0;

	font-family: Quicksand, OpenSans, sans-serif;
}

// $mobile-width: 320px;
// $tablet-width: 768px;
// $desktop-width: 1250px;

@import "visually-hidden.scss";
@import "logotype.scss";
@import "head-space.scss";
@import "nav-menu.scss";
