//- form(action="#").inputTextField
//- 	p
//- 		p.inputTextField__headline Text field
//- 		input(type="text",
//- 		size="40",
//- 		placeholder="Email",
//- 		outline="none").inputTextField__content


//	mixin: inputTextField("YourTextInsideInput")

mixin inputTextField(placeholder)
	input(placeholder= placeholder).inputTextField