//- form(action="#").inputTextField
//- 	p
//- 		p.inputTextField__headline Text field
//- 		input(type="text",
//- 		size="40",
//- 		placeholder="Email",
//- 		outline="none").inputTextField__content


//	mixin: inputTextField("YourHeadline","YourTextInsideInput")

mixin inputTextField(headline,placeholder)
	p.inputTextField
		p.inputTextField__headline= headline
		input(placeholder= placeholder).inputTextField__content