mixin borderGradientButton(headline)
    button.borderGradientButton
        span.borderGradientButton__buttonFix
            div.borderGradientButton__hover
                p.borderGradientButton__textContain= headline