//- form(action="#").inputTextField
//- 	p
//- 		p.inputTextField__headline Text field
//- 		input(type="text",
//- 		size="40",
//- 		placeholder="Email",
//- 		outline="none").inputTextField__content

mixin defaultDpopdown(placeholder)
	div.defaultDpopdown
		p.defaultDpopdown__content= placeholder
			span.defaultDpopdown__arrowDown
