.roomCard {
    margin: 0;
    padding: 0;
    
    min-width: 270px;
    max-width: 270px;
    height: 258px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;

    overflow: hidden;
}

.roomCard__gallery {
    margin: 0;
    padding: 0;

    position: relative;
    display: block;

    width: 270px;
    height: 151px;
}

.roomCard__photoList {
    margin: 0;
    padding: 0;

    position: relative;
    display: block;

    width: 100%;
    height: 100%;

    list-style: none;
    text-decoration: none;
}

.roomCard__photo {
    margin: 0;
    padding: 0;

    position: absolute;
    left: 0;
    top: 0;
    display: none;

    width: 100%;
    height: 100%;

    // background-size: cover;
    // background-position: top;
}

.roomCard__punktMarkList {
    margin: 0;
    padding: 0;

    position: absolute;
    right: 11px;
    bottom: 15px;
    display: flex;

    list-style: none;
    text-decoration: none;
}

.roomCard__punktMark {
    margin: 0 3.75px 0 0;
    padding: 0;

    display: block;
    width: 5.5px;
    height: 5.5px;
    // background: #FFFFFF;

    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.roomCard__scrollButton {
    cursor: pointer;
    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 100%;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear 0.1s;

    background: linear-gradient(90deg,rgba(0,0,0,.25),transparent);
}

////////
.roomCard__roomInfo {
    margin: 21px 17px 10px 20px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.roomCard__roomName {
    margin: 0;
    padding: 0;

    font-family: Quicksand, 'Open Sans', sans-serif;
    font-style: normal;
    // text-align: left;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    // text-transform: uppercase;
    color: opacify($DarkShade, 1);
}

.roomCard__roomNumber {
    margin: 0 0 0 0px;
    padding: 0;
}

.roomCard__roomType {
    margin: 0 0 0 2px;
    color: opacify($Purple, 1);
}

.roomCard__costInfo {
    margin: 0 0 1px 0;
    padding: 0;

    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    // text-align: left;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    // text-transform: uppercase;
    color: opacify($DarkShade, 0.5);
}

.roomCard__roomPrice {
    margin: 0 1px 0 0;
    padding: 0;

    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    // text-align: left;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    // text-transform: uppercase;
    color: opacify($DarkShade, 0.5);
}
////////

.roomCard__roomRate {
    margin: 0 20px 0 21px;
    padding: 8px 0 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid opacify($DarkShade, 0.1);
}

.roomCard__rateButtonStars {
    margin: 0;
    padding: 0;
}

.roomCard__reviews {
    margin: 0;
    padding: 0;

    color: opacify($DarkShade, 0.5);
}

.roomCard__reviewsNumber {
    margin: 0;
    padding: 0;

    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    // text-align: left;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    // text-transform: uppercase;
    color: opacify($DarkShade, 0.5);
}

////////

.roomCard__scrollButton::before {
    content: '';

    position: absolute;
	top: 77px;
	left: 18px;

	margin: 0;
	padding: 0;

	width: 8px;
	height: 2px;

	background-color: #FFFFFF;

	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.roomCard__scrollButton::after {
    content: '';

    position: absolute;
	top: 72px;
	left: 18px;

	margin: 0;
	padding: 0;

	width: 8px;
	height: 2px;

	background-color: #FFFFFF;

	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.roomCard__scrollButton--left {
    margin: 0;
    padding: 0;
}

.roomCard__scrollButton--right {
    left: auto;
    right: 0;
    top: 0;

    transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.roomCard__gallery:hover .roomCard__scrollButton {
    visibility: visible;
    opacity: 1;
}

.roomCard__photo--current {
    display: block;
}

.roomCard__punktMark--current {
    background: #FFFFFF;
}

.roomCard__photoList--noJs .roomCard__photo{
    display: block;
}