mixin bulletList(...listElements)
    ul.bulletList
        each listElement in listElements
            li.bulletList__listElement
                span.bulletList__billetIcon
                p.bulletList__optionTitle.text_Casual=listElement
                