mixin simpleTextButton(headline, colour='default')
    button.simpleTextButton
            span.simpleTextButton__buttonFix
                if (colour=='default')
                    p.simpleTextButton__textContain= headline
                else
                    p.simpleTextButton__textContain.simpleTextButton__textContain--dark= headline