

//- mixin: dateDropdown("YourHeadline1","YourTextInsideInput1","YourHeadline2","YourTextInsideInput2")

mixin dateDropdown(headline1='Прибытие',placeholder1='ДД.ММ.ГГГГ',headline2='Выезд',placeholder2='ДД.ММ.ГГГГ')


	ul.dateDropdown
		li.dateDropdown__element
			p.dateDropdown__headline.headline_N3= headline1
			p.dateDropdown__content.text_Casual= placeholder1

		li.dateDropdown__element
			p.dateDropdown__headline.headline_N3= headline2
			p.dateDropdown__content.text_Casual= placeholder2
