.defaultRadioButtons {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.defaultRadioButtons__headline {
    margin: 0 0 13px 0;
    padding: 0;

    width: 100%;

    font-family: Montserrat;
	font-style: normal;
	text-align: left;
	font-size: 12px;
	line-height: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: opacify($DarkShade, 1);
}

.defaultRadioButtons__button input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.defaultRadioButtons__title {
    position: relative;
    margin: 0 20px 0 0;
	padding: 0 0 0 30px;
    cursor: pointer;
    
    font-family: Montserrat;
	font-style: normal;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	// text-transform: uppercase;
	color: opacify($DarkShade, 0.5);
}
.defaultRadioButtons__title:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid opacify($DarkShade, 0.25);
	border-radius: 50%;
	background: #FFF;
}
.defaultRadioButtons__title:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 4px;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	background: $PurpleGradient;
	opacity: 0;
}
.defaultRadioButtons__button input:checked + .defaultRadioButtons__title:after {
	opacity: 1;
}

.defaultRadioButtons__button input:checked + .defaultRadioButtons__title:before {
    border: 1px solid opacify($Purple, 1);
}

.defaultRadioButtons__button input:checked + .defaultRadioButtons__title {
    color: opacify($DarkShade, 1);
}