//- checkboxButtons.scss
//- checkboxButtons.pug

include ../checkboxButtons/checkboxButtons.pug


mixin defaultCheckboxList(headline, ...listElements)
	div.defaultCheckboxList
		p.defaultCheckboxList__headline= headline
		ul.defaultCheckboxList__listBody
			each listElement in listElements
				li.defaultCheckboxList__listElement
					+checkboxButtons(listElement)