//- hiddenCheckboxList.js
//- checkboxButtons.scss
//- checkboxButtons.pug

include ../checkboxButtons/checkboxButtons.pug

mixin hiddenCheckboxList(headline, ...buttonElements)
	div.hiddenCheckboxList
		p.hiddenCheckboxList__headline= headline
			span.hiddenCheckboxList__arrow
		ul.hiddenCheckboxList__hiddenList
			each buttonElement in buttonElements
				li.hiddenCheckboxList__buttonElement
					+checkboxButtons(buttonElement)


