mixin likeButton(inputName, likeValue)
    label.likeButton
        input(name=inputName,type="checkbox")
        div.likeButton__buttonView
        div.likeButton__inactiveHover
            p.likeButton__numberHover= likeValue
