//- form(action="#").inputTextField
//- 	p
//- 		p.inputTextField__headline Text field
//- 		input(type="text",
//- 		size="40",
//- 		placeholder="Email",
//- 		outline="none").inputTextField__content


//-	mixin: defaultDpopdown("YourHeadline","YourTextInsideInput")

mixin subscriptionTextField(placeholder)
	div.subscriptionTextField
		div.subscriptionTextField__arrowGradient
		input.subscriptionTextField__content.text_Casual(type="text", placeholder= placeholder)