// $DarkShade: #1F2041;
// $Purple: #BC9CFF;
// $Green: #6FCF97;


// Use like opacify($DarkShade, 1);

$DarkShade: rgba(31, 32, 65, 0);
$Purple: rgba(188, 156, 255, 0);
$Green: rgba(111, 207, 151, 0);

//Unusual colors
$FocusColor: rgba(113, 220, 253, 0.9);
$PurpleGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$GreenGradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
