//- form(action="#").inputTextField
//- 	p
//- 		p.inputTextField__headline Text field
//- 		input(type="text",
//- 		size="40",
//- 		placeholder="Email",
//- 		outline="none").inputTextField__content


//	mixin: defaultDpopdown("YourHeadline","YourTextInsideInput")

mixin filterDateDropdown(headline,placeholder)
	p.filterDateDropdown
		p.filterDateDropdown__headline= headline
		p.filterDateDropdown__content= placeholder
			span.filterDateDropdown__arrowDown