mixin fullGradientButtonWithArrow(headline)
    button.fullGradientButtonWithArrow
        span.fullGradientButtonWithArrow__arrow
        span.fullGradientButtonWithArrow__buttonFix
            p.fullGradientButtonWithArrow__textContain= headline