mixin toggleCheckboxList(inputName, ...listElements)
    ul.toggleCheckboxList
        each listElement in listElements
            li.toggleCheckboxList__listElement
                label.toggleCheckboxList__button
                    input(name=inputName,type="checkbox",value=listElement)
                    div.toggleCheckboxList__buttonTitle= listElement

